




.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 22%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 600;
    padding: 10px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li a:hover {
    color: #FA4A0C;
}

.menu-btn
{
    position: relative;
    width: 100%;
    cursor: pointer;
    display: none;
}

.my-btn
{
    position: absolute;
    left: 91%;
    top: 65px;
}

.checkbtn
{
    position: relative;
    float: right;
    top: 1em;
    right: 3em;
    color: #737373;
    font-size: 38px;
    display: none;
}



.fo-para
{
    text-align: center;
    display: none;
}


.v
{
    display: none;  
}

.my-alter .v-icon

{
    position: absolute;
}





/*nav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3F51B5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 45px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1affea;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-height: 850px)
{
  .container {
  
    padding: 1px
}

.service {
  
  padding: 47px 35px 70px;
}

.heading-sec-4 {
  padding-top: 3em;
  
}

.overlay {
  padding: 70px 0;
}

.section-6 {
  padding: 60px 0;
}

.second-content {
  margin: 0 55px;
}

}








/*footer*/

.my-alter {
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.my-alter ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    color: orangered;
    font-size: xx-large;
}

.my-alter p {
    font-size: 12px;
    
    color: #5C5C5C;
    
}


@media (max-width: 830px)
{
    .my-alter p {
    
        display: none;
    }

    .my-alter 
    {
        width: 100%;
    }

    .navbar ul
    {
    display: none;
    }

    .checkbtn
{
    display: block;
}

.my-alter ul li {
        
    margin: 0 14px;
    
}

}


@media (max-width: 730px)
{
    .logo {
        width: 42%;
        cursor: pointer;
    }

    .checkbtn {
        position: relative;
        float: right;
        top: 1.4em;
        right: 2em;
        color: #737373;
        font-size: 38px;
        
    }
}





@media (max-width: 450px)
{
    .my-alter img
    {
        display: none;
    }

    .my-alter p {
        display: none;
        
    }


    .checkbtn
{
    position: relative;
    float: right;
    top: 1em;
    right: 1em;
    color: #737373;
    font-size: 38px;
    
}

.logo {
    width: 45%;
    cursor: pointer;
}

.my-alter {
    width: 100%;
    position: absolute;
    top: 222em;
}


.fo-para
{
    text-align: center;
    display: block;
    padding: 30px 0px;
}
.fo-para p
{
    font-family: 'poppins';
}

.v
{
    display: block;  
}

.n
{
    display: none;  
}


  
}