<header>
    <div class="bg">
        <div class="navbar">
            <img src="assets/h1.png" class="logo">
            <ul>
                <li> <a routerLink="home">Home</a></li>
                <li> <a routerLink="">Product</a></li>
                <li> <a routerLink="">Faq</a></li>
                <li> <a routerLink="">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<router-outlet></router-outlet>



<footer>
    <div class="footer-con">
        <div class="my-alter">
            <img src="assets/h1.png">
            <ul>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
            <p>copywright 2020 Bella Onojie.com</p>
        </div>

    </div>
</footer>


