<header>

    <div class="bg">

        <label for="check" class="checkbtn">
            <i class="fas fa-bars" onclick="openNav()"></i>
          </label>

        <div id="menu" class="navbar">
            <img src="assets/h1.png" class="logo">
            <ul>
                <li> <a routerLink="/home">Home</a></li>
                <li> <a routerLink="home">Product</a></li>
                <li> <a routerLink="home">Faq</a></li>
                <li> <a routerLink="home">Contact</a></li>
            </ul>
        </div>

    </div>
</header>



<div id="mySidenav" class="sidenav ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a onclick="closeNav()"  class="en-en" routerLink="/home">Home</a>
    <a onclick="closeNav()"  class="en-en" routerLink="home">Product</a>
    <a onclick="closeNav()"  class="en-en" routerLink="home">Faq</a>
    <a onclick="closeNav()"  class="en-en" routerLink="home">Contact</a>
  </div>

<router-outlet></router-outlet>






<footer>
    <div class="footer-con">
        <div class="my-alter">
            <img src="assets/h1.png">
            <ul>
                <li><i class="fab n fa-twitter"></i></li>
                <li><i class="fab n fa-facebook-square"></i></li>
                <li><i class="fab n insta fa-instagram"></i></li>
            
            </ul>

            <ul class="v-icon">
                <li><i class="fab v fa-twitter"></i></li>
                <li><i class="fab v fa-facebook-square"></i></li>
                <li><i class="fab v fa-linkedin"></i></li>
            </ul>



            <p>copywright 2020 Bella Onojie.com</p>
        </div>
        <div class="fo-para">
            <p>Just type what's your mind and we'll</p>
        </div>
        

    </div>
</footer>