<section onclick="closeNav()" class="main-home">
    <div class="bg-img">
        <div class="fixed-the-content">
            <div class="heading-app">
                <h3>Food app</h3>
                <h1>why stay hungry when
                    <br>
                    you can order from bella onojie
                </h1>
                <p>Download the bella onoje's food app now on</p>

                <div class="btn">
                    <button class="play btn-1">Playstore</button>
                    <button class="play btn-2">App store</button>
                </div>
            </div>
        </div>
    </div>
</section>





<section onclick="closeNav()" class="section-3">
    <div class="container-img">
        <div class="main-image">
            <img src="assets/main.png">

        </div>

    </div>

</section>




<section onclick="closeNav()" class="section-2">
   
        <div class="bk-bk">
            <hr style="background-color: #E4E4E4;">
        </div>

    <div class="heading-under">
        <h4>How the app works</h4>
    </div>

</section>



<section onclick="closeNav()" class="sec-4">

    <div class="container">
        <div class="row">
            <div class="img-section my-pad">
                <img class="change" src="assets/p1.png">
            </div>

            <div class="heading-section ">
                <div class="my-pad">
                    <h3><a href="#">Create an account</a></h3>
                    <h1>create/login to an existing<br>
                        account to get started.
                    </h1>
                    <p>an account is created with your email
                        <br>
                        and a desired password
                    </p>
                </div>
                
            </div>

        </div>

    </div>


</section>


<section onclick="closeNav()" class="sec-5">
    
    <div class="container">
        <div class="row-1">
            

            <div class="heading-section-1 ">
                <div class="my-pad">
                    <h3><a href="#">Explore varieties</a></h3>
                    <h1>Shope for your favorites<br>
                        meal as dey hot.
                    </h1>
                    <p>Shop for your favorite meals or drinks
                        <br>
                        and enjoy while doing it.
                    </p>
                </div>
                
            </div>
            <div class="img-section my-pad">
                <img class="change-1" src="assets/p3.png">
            </div>

        </div>

    </div>


</section>


<section onclick="closeNav()" class="sec-6">
    
    <div class="container">
        <div class="row-2">
            <div class="img-section my-pad">
                <img class="change-2" src="assets/p2.png">
            </div>

            <div class="heading-section-2 ">
                <div class="my-pad">
                    <h3><a href="#">Checkout</a></h3>
                    <h1>When you done check out<br>
                        and get it delivered.
                    </h1>
                    <p>When you done check out and get it
                        <br>
                        delivered with ease
                    </p>
                </div>
                
            </div>

        </div>

    </div>


</section>





<section onclick="closeNav()" class="section-6">
    <div class="alter">
        <div class="bk-img">
            <div class="content-page">
                <h3>Download the app now</h3>
                <p>Available on your favorite store. Start your premium experience now</p>

                <div class="btn-btn">
                    <button class="play btn-3">Playstore</button>
                    <button class="play btn-4">App store</button>
                </div>

            </div>


        </div>

    </div>
</section>


